
//navbar_buttons controls the css for the buttons that appear in the side navbar. The values here are self-explanatory.
.navbar_buttons{
    background-color:rgb(21,53,30);
    font-size: 20px;
    padding: 10px;
    margin: 0px;
    border-radius: 0px;
    width: 100%;
    height: 100%;
}

//sidebar_css controls the css for the sidebar as a whole.
.sidebar_css{
    height:100%;
    background-color: rgb(21,53,30);
}

//consider removing, check whether the divs still need this. 
.no_border{
    margin: 0px;
    padding: 0px;
}

//btn:focus exists to edit some of the base properties of the 'btn' class.
.btn:focus{
    //The 4 lines below remove the default outline that radiates from a button when it is clicked. !important is to ensure that
    //these values are ensured to be overwritten.
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;

    //This makes the button change color after it has been clicked, to allow the user to keep track of which
    //sidebar element they are currently on.
    background-color:rgb(61,93,70);
}
//This class is for the create outcome button to be a unique color
.unique_button_color{

    background-color: rgb(147, 81, 36);
}

