<!--Below is the genereal information for outcomes-->
<div id="GeneralOutcomeInformation" *ngIf="outcomes">
    <h1>Student Outcomes</h1>
    <p>Describes what students are expected to know and be able to do by the
        time of graduation. These relate to the skills, knowledge and behaviors
        that students acquire as they progress through the program.</p>
</div>

<!--Below is the genereal information for programs-->
<div id="GeneralProgramInformation" *ngIf="programs">
    <h1>Programs</h1>
    <p>This is a list of programs from the School of Mines and Engineering. Potentially including:</p>
    <li>Civil Engineering</li>
    <li>Computer Science</li>
    <li>Electrical Engineering</li>
    <li>Environmental Engineering</li>
    <li>Geological Engineering</li>
    <li>Freshman Engineering Program</li>
    <li>Geophysical Engineering</li>
    <li>Mechanical Engineering</li>
    <li>Metallurgical & Materials Engineering</li>
    <li>Mining Engineering</li>
    <li>Petroleum Engineering</li>
    <li>Safety, Health & Industrial Hygiene</li>
    <li>Software Engineering</li>
</div>